<div class="container">
  <div class="row">
    <div class="col-md-2 col-lg-3 align-self-center"></div>
    <div class="col-md-8 col-lg-6 align-self-center text-center">

      <h1>We are Sri Lankans!</h1>

      <p><b>Sri Lankans Who <i>M</i>ake</b> is the place to discover talented, passionate Sri Lankans who strive to build and create things. From artists, writers, speakers to graphic designers and developers, let's grow a community of like-minded people who make the world a better place.</p>
      <p>Fellow makers - connect with people just like you. <br>
        Recruiters - find potential candidates for your company or project. <br>
        Event organizers - here we have speakers for your next event. <br>
        Youtubers & Podcasters - we have your next guest.</p>
      <br>
      <h2>Join with Us</h2>
      <p>
        Are you one of us? Come join with Us...
        <br><a href="#">Send us a Request.</a>
        <br>Want to remove Your info? <a href="#">Let us know</a>
        <br>Follow us on <a href="#">Twitter</a> and <a href="#">Instagram</a>
        <br>Like us on <a href="#">Facebook</a>
        <br>Feedback or any ideas?<a href="#">Share with Us</a>
      </p>
      <br>
      <h2>Inspirations</h2>
      <p>
        This site is inspired by these great sites.<br>Check them out too!
      </p>
      <div class="row">
        <div class="border-0 bg-transparent col-4 linksForInspiration">
          <a href="https://malaysianswhomake.com/" target="_blank">
            <img src="https://malaysianswhomake.com/images/MWM_Icon_01_White.png" alt="Latinx who make logo" width="200px"><br>
            malaysianswhomake.com
          </a>
        </div>
        <div class="border-0 bg-transparent col-4 linksForInspiration">
          <a href="https://www.latinxswhodesign.com/" target="_blank">
            <img src="https://i.ibb.co/yV5wHtT/latinxswhodesign.png" alt="Latinx who make logo" width="200px"><br>
            latinxswhodesign.com
          </a>
        </div>
      </div>
      <br>
      <h2>Credits</h2>
      <p>Designed and coded by ST.</p>
      <p>Special thanks to Y for major helps on code & mentoring.</p>
      <button type="button" class="btn btn-outline-secondary" routerLink="">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
        </svg> Back
      </button>
    </div>
  </div>
</div>
