<nav class="navbar navbar-light bg-light sticky-top">
  <div class="container-fluid">
    <h1 class="navbar-brand m-0" routerLink="">Sri Lankans Who <i>M</i>ake</h1>
    <div class="example-button-row">

      <a mat-button routerLink="" >Directory</a>
      <a mat-button routerLink="about" routerLinkActive="active">About</a>
      <a mat-button routerLink="blogs" routerLinkActive="active">Blogs</a>
      <a mat-button href="#" routerLinkActive="active">Be Featured</a>

    </div>
  </div>
</nav>
