<div class="container pt-3" *ngIf="user">
  <div class="row d-flex align-items-center">
    <div class="col-md-6">
      <div class="pro-pic-div w-100">
        <img class="pro-pic mx-auto d-block" src="favicon.ico" alt="Profile picture for user">
      </div>
    </div>
    <div class="col-md-6 mt-3">
      <div class="user-name w-100">
        <h1>{{user.userName}}</h1>
      </div>
      <div class="user-data-text">
        <p class="location mb-3">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
            <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
            <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
          </svg>
          {{user.userLocation}}
        </p>
        <div class="tags-bar mb-3">
          <div class="tags px-3 py-1" style="width: fit-content" *ngFor="let skill of user.userSkills">
            {{skill}}
          </div>
        </div>
        <p class="bio">{{user.userBio}}</p>
        <br>
        <div class="w-100 link-bar">
          <a class="link-Btns" *ngFor="let link of user.userLinks" href="{{link}}" target="_blank"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col mt-5">
      <div>
        <button type="button" class="btn btn-outline-secondary" routerLink="">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
          </svg> Back
        </button>
      </div>
    </div>
  </div>
</div>

<!--============User Not Found==========-->
<app-page-not-found *ngIf="!user"></app-page-not-found>
<!--============User Not Found==========-->
